<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Valet &mdash; A free HTML5 Template by FREEHTML5.CO</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
	
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 	https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

  	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  	<link rel="shortcut icon" href="favicon.ico">

  	<!-- Google Webfont -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	<!-- Themify Icons -->
	<link rel="stylesheet" href="/static/CSS/themify-icons.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="/static/CSS/bootstrap.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/static/CSS/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/CSS/owl.theme.default.min.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/static/CSS/magnific-popup.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="/static/CSS/superfish.css">
	<!-- Easy Responsive Tabs -->
	<link rel="stylesheet" href="/static/CSS/easy-responsive-tabs.css">
	<!-- Animate.css -->
	<link rel="stylesheet" href="/static/CSS/animate.css">
	<!-- Theme Style -->
	<link rel="stylesheet" href="/static/CSS/style.css">

	<!-- Modernizr JS -->
	<script src="/static/JS/modernizr-2.6.2.min.js"></script>

	<!-- FOR IE9 below -->

	<!--[if lt IE 9]>
	<script src="/static/JS/respond.min.js"></script>
	<![endif]-->
	</head>
	<body class="inner-page">

		<!-- START #fh5co-header -->
		<header id="fh5co-header-section" role="header" class="" >
			<div class="container">



				<!-- <div id="fh5co-menu-logo"> -->
					<!-- START #fh5co-logo -->
					<h1 id="fh5co-logo" class="pull-left"><a href="/index/"><img src="/static/Image/logo.png" alt="Valet Free HTML5 Template"></a></h1>

					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">


						<ul class="sf-menu" id="fh5co-primary-menu">
							<li>
								<a href="/index/">Home</a>
							</li>

							<li>
								<a href="#" class="fh5co-sub-ddown">Dropdown</a>
								 <ul class="fh5co-sub-menu">
								 	<li><a href="/left-sidebar/">Left Sidebar</a></li>
								 	<li><a href="/Purchase/">Purchase medicine</a></li>
									<li>
										<a href="#" class="fh5co-sub-ddown">Free HTML5</a>
										<ul class="fh5co-sub-menu">
											<li><a href="http://freehtml5.co/preview/?item=build-free-html5-bootstrap-template" target="_blank">Build</a></li>
											<li><a href="http://freehtml5.co/preview/?item=work-free-html5-template-bootstrap" target="_blank">Work</a></li>
											<li><a href="http://freehtml5.co/preview/?item=light-free-html5-template-bootstrap" target="_blank">Light</a></li>
											<li><a href="http://freehtml5.co/preview/?item=relic-free-html5-template-using-bootstrap" target="_blank">Relic</a></li>
											<li><a href="http://freehtml5.co/preview/?item=display-free-html5-template-using-bootstrap" target="_blank">Display</a></li>
											<li><a href="http://freehtml5.co/preview/?item=sprint-free-html5-template-bootstrap" target="_blank">Sprint</a></li>
										</ul>
									</li>
									<li><a href="#">CSS3</a></li>
								</ul>
							</li>
							<li><a href="/contact/">Contact</a></li>
                            <li><a href="/bill/">Bill</a></li>
                            <li><a href="/register/">Register</a> </li>
						</ul>
					</nav>
				<!-- </div> -->

			</div>
		</header>

		<div id="fh5co-hero" style="background-image: url(/static/Image/slide_2.jpg);">
            <div class="overlay"></div>
			<a class="medicalward to-animate hero-animate-4">
                <div class="whole">
                    <div id="centerbox1 textcolor" class="foo col-sm-2" style="background:white;margin-top:60px;">A1</div>
                    <div id="centerbox2 textcolor" class="foo col-sm-2" style="background:white;margin-top:60px;">A2</div>
                    <div id="centerbox3 textcolor" class="foo col-sm-2" style="background:white;margin-top:60px;">A3</div>
                    <div id="centerbox4 textcolor" class="foo col-sm-2" style="background:white;margin-top:60px;">A4</div>
                    <div id="centerbox5 textcolor" class="foo col-sm-2" style="background:white;margin-top:60px;">A5</div>
                    <div id="centerbox6 textcolor" class="foo col-sm-2" style="background:white;margin-top:60px;">A6</div>
                    <br>
                    <br>
                    <div id="centerbox7 textcolor" class="foo col-sm-2" style="background:white;">B1</div>
                    <div id="centerbox8 textcolor" class="foo col-sm-2" style="background:white;">B2</div>
                    <div id="centerbox9 textcolor" class="foo col-sm-2" style="background:white;">B3</div>
                    <div id="centerbox10 textcolor" class="foo col-sm-2" style="background:white;">B4</div>
                    <div id="centerbox11 textcolor" class="foo col-sm-2" style="background:white;">B5</div>
                    <div id="centerbox12 textcolor" class="foo col-sm-2" style="background:white;">B6</div>
                    <br>
                    <br>
                    <div id="centerbox13 textcolor" class="foo col-sm-2" style="background:white;">C1</div>
                    <div id="centerbox14 textcolor" class="foo col-sm-2" style="background:white;">C2</div>
                    <div id="centerbox15 textcolor" class="foo col-sm-2" style="background:white;">C3</div>
                    <div id="centerbox16 textcolor" class="foo col-sm-2" style="background:white;">C4</div>
                    <div id="centerbox17 textcolor" class="foo col-sm-2" style="background:white;">C5</div>
                    <div id="centerbox18 textcolor" class="foo col-sm-2" style="background:white;">C6</div>
                    <br>
                    <br>
                    <div id="centerbox19 textcolor" class="foo col-sm-2" style="background:white;">D1</div>
                    <div id="centerbox20 textcolor" class="foo col-sm-2" style="background:white;">D2</div>
                    <div id="centerbox21 textcolor" class="foo col-sm-2" style="background:white;">D3</div>
                    <div id="centerbox22 textcolor" class="foo col-sm-2" style="background:white;">D4</div>
                    <div id="centerbox23 textcolor" class="foo col-sm-2" style="background:white;">D5</div>
                    <div id="centerbox24 textcolor" class="foo col-sm-2" style="background:white;">D6</div>
                </div>

            </a>
			<!-- End fh5co-arrow -->
			<div class="container">
				<div class="col-md-12">
					<div class="fh5co-hero-wrap">
						<div class="fh5co-hero-intro">
							<h1 class="to-animate hero-animate-1">Ward Monitoring System</h1>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-main">
			<div id="fh5co-contact">
			<div class="container">

			</div>

			</div>
			<!-- fh5co-contact -->


		</div>
		<!-- END fhtco-main -->


		<footer role="contentinfo" id="fh5co-footer">

			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6 footer-box">
						<h3 class="fh5co-footer-heading">Company</h3>
						<ul class="fh5co-footer-links">
							<li><a href="#">About</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">Our Products</a></li>
							<li><a href="#">Our Culture</a></li>
							<li><a href="#">Team</a></li>
						</ul>

					</div>
					<div class="col-md-4 col-sm-6 footer-box">
						<h3 class="fh5co-footer-heading">Links</h3>
						<ul class="fh5co-footer-links">
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li><a href="#">Our Careers</a></li>
							<li><a href="#">Support &amp; FAQ's</a></li>
							<li><a href="#">Sign up</a></li>
							<li><a href="#">Log in</a></li>
						</ul>
					</div>
					<div class="col-md-4 col-sm-12 footer-box">
						<h3 class="fh5co-footer-heading">Get in touch</h3>
						<ul class="fh5co-social-icons">

							<li><a href="#"><i class="ti-google"></i></a></li>
							<li><a href="#"><i class="ti-twitter-alt"></i></a></li>
							<li><a href="#"><i class="ti-facebook"></i></a></li>
							<li><a href="#"><i class="ti-instagram"></i></a></li>
							<li><a href="#"><i class="ti-dribbble"></i></a></li>
						</ul>
					</div>
					<div class="col-md-12 footer-box">
						<div class="fh5co-copyright">
						<p>&copy; 2015 Free Valet. All Rights Reserved. <br>Designed by <a href="http://freehtml5.co" target="_blank">FREEHTML5.co</a> Images by: <a href="http://unsplash.com">Unsplash</a></p>
						</div>
					</div>

				</div>
				<!-- END row -->

		</footer>

        <script src="/static/JS/changecolour.js"></script>
		<!-- jQuery -->
		<script src="/static/JS/jquery-1.10.2.min.js"></script>
		<!-- jQuery Easing -->
		<script src="/static/JS/jquery.easing.1.3.js"></script>
		<!-- Bootstrap -->
		<script src="/static/JS/bootstrap.js"></script>
		<!-- Owl carousel -->
		<script src="/static/JS/owl.carousel.min.js"></script>
		<!-- Magnific Popup -->
		<script src="/static/JS/jquery.magnific-popup.min.js"></script>
		<!-- Superfish -->
		<script src="/static/JS/hoverIntent.js"></script>
		<script src="/static/JS/superfish.js"></script>
		<!-- Easy Responsive Tabs -->
		<script src="/static/JS/easyResponsiveTabs.js"></script>
		<!-- FastClick for Mobile/Tablets -->
		<script src="/static/JS/fastclick.js"></script>
		<!-- Parallax -->
		<script src="/static/JS/jquery.parallax-scroll.min.js"></script>
		<!-- Waypoints -->
		<script src="/static/JS/jquery.waypoints.min.js"></script>

		<!-- Main JS -->
		<script src="/static/JS/main.js"></script>

	</body>
</html>
